session.*
ac-comphist.dat
auto-save-list/*
elpa/*
url/*
ido.last
\#*
.\#*
configuration.el
eshell/*
project
projectile-bookmarks.eld
transient/*
.lsp-session-*
eln-cache/*
projects
tree-sitter/
.cache/
request/
